/*
  Primary: #2ccfd3
  Secondary: #d3302c
*/

@font-face {
    font-family: 'JetBrainsRegular';
    src: url('fonts/JetBrainsMono-Regular.otf');
    font-weight: normal;
    font-style: normal;
}

.row-bordered {
  position: relative;
}

.row-bordered:after {
  content: "";
  display: block;
  border-bottom: 2px solid #ccc;
  position: absolute;
  bottom: 0;
  left: 13px;
  right: 13px;
  margin-bottom: 5px;
}

h1, h5 {
  color: #555;  
}

h1 {
  font-size: 24pt;
  color: #555;
}

#experience h1 {
  margin-top: 15px;
}

p {
  margin-bottom: 0;
}

ul {
  padding-left: 1rem;
}

p.date {
  font-size: 10pt;
  font-weight: bold;
}

p.fw-bold {
  line-height: 15pt;
}

#header {
  font-family: JetBrainsRegular;
  font-size: 12pt;
  background-color: #2ccfd3;
  color: #fff;
  padding: 17pt 0 14pt 0;
}

#header .title {
  font-size: 36pt;
  line-height: 30pt;
}

#header .degree {
  padding-left: 2px;
  font-size: 16pt;
}

#header a {
  color: #fff;
}

#about {
  padding-top: 8px;
}

#purdue {
  padding-top: 16px;
  padding-bottom: 16px;
}

#core {
  padding-bottom: 24px;
}

#sidebar {
  padding-top: 8px;
  background-color: #f2f2f2;
}

#contact p:nth-child(even) {
  padding-top: 10px;
}

#contact p:nth-child(2) {
  padding-top: 3px;
}

#contact p:nth-child(odd) {
  font-family: JetBrainsRegular;  
}

#contact a {
  color: black;
  text-decoration: none;
}

#email {
  font-size: 10pt;
}

#skills, #addendum {
  margin-top: 15px;
}

#skills p:nth-child(even) {
  padding-top: 10px;
}

#skills p:nth-child(odd) {
  font-size: 10pt;
}

#addl-experience {
  padding-top: 30px;
}

#browsermedia {
  margin-top: 125px;
  padding-top: 20px;
}